/* 

	alt + arrowup - перенести строку вверх
	ctrl + l - выделить строку
	shift + alt+ arrowdown - копировать строку вниз

*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@400;500;700&family=Rubik:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  background-color: #252525;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  color: #fff;
  font-size: 25px;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1680px;
  padding: 0 20px;
  margin: 0 auto;
}

/* HEADER TOP */

.header {
  margin-top: 36px;
  width: 100%;
}

.header-top {
  border-bottom: 1px solid #afafaf;
}

.header-top__container {
  max-width: 1680px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
}

.header-top__nav {
  display: flex;
  font-size: 25px;
  width: fit-content;
}

.header-top__nav_item {
  display: flex;
  align-items: center;
  margin-right: 96px;
}

.header-top__nav_item:last-child {
  margin-right: 0;
}

.header__nav_item-img {
  margin-right: 10px;
}

.login {
  font-size: 25px;
  display: flex;
  align-items: center;
}

.login-link {
  display: flex;
  align-items: center;
}

.login-link:hover .login-link__icon path {
  stroke: #dc2a1c;
}

.login-link:hover {
  color: #dc2a1c;
}

/* HEADER TOP */

/* HEADER-BOTTOM */

.header-bottom__container {
  max-width: 1680px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  margin-top: 15px;
}

.header-bottom__nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-right: 0;
}

.header-bottom__item {
  margin-right: 90px;
}

.header-bottom__item.active {
  margin-right: 90px;
  color: #dc2a1c;
}

.header-bottom__item:hover {
  color: #dc2a1c;
}

.header-bottom__item:last-child {
  margin-right: 0;
}

.header-bottom-cart {
  margin-left: auto;
}

.header-bottom-cart-link {
  display: flex;
  align-items: center;
}

.header-bottom-cart-link:hover {
  color: #dc2a1c;
}

.header-bottom_cart-img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

/* HEADER-BOTTOM */

/* MAIN */

.main {
  flex-grow: 1;
}

/*  */

/* SIDEBAR */

.sidebar {
  width: 100%;
  position: sticky;
}

.sidebar-item {
  display: flex;
  border-top: 1px solid #fff;
  align-items: center;
  padding: 7px 0;
}

.sidebar-item:last-child {
  border-bottom: 1px solid #fff;
}

.sidebar-item-link {
  display: flex;
  align-items: center;
}

.sidebar-item-link:hover {
  color: #dc2a1c;
}

.sidebar-item-img {
  margin-right: 10px;
  margin-left: 20px;
}

/* SIDEBAR */

/*  */

.menu__container {
  display: flex;
  max-width: 1920px;
  justify-content: center;
  padding: 0;
  margin-top: 40px;
}

.menu-wrapper {
  width: 80%;
  position: relative;
}

.menu-title {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.menu__list {
  max-width: 1490px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(372px, 1fr));
  text-align: center;
  position: relative;
  /* margin-top: px; */
}

.menu__item {
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__item-img {
  width: 100%;
  margin-bottom: 10px;
}

.menu .menu__item-title {
  font-size: 20px;
  max-width: 356px;
}

.menu__item-subtitle {
  font-size: 15px;
  max-width: 356px;
}

.menu__item_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  padding: 70px 10px 10px 10px;
  flex-wrap: wrap;
}

.menu__item_footer a {
}

.menu__item-cart a {
  display: flex;
  align-items: center;
}

.menu__item-weight {
  margin-bottom: 5px;
}

.menu__item-cart {
  background-color: #dc2a1c;
  width: 100%;
  text-align: center;
  padding: 12px 16px;
  border-radius: 26px;
  display: flex;
  justify-content: center;
}

.swiper__container {
  max-width: 1024px;
  margin: 0 auto;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #000;
  border-radius: 50%;
  padding: 13px 19px;
  color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px;
}

/* MAIN */

/* FOOTER */

.footer {
  margin-top: 58px;
  max-width: 100%;
  background-color: #383838;
  min-height: 222px;
  border-top: #000 1px solid;
}

.footer-top__container {
  padding-top: 68px;
}

.footer__info {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1150px;
  justify-content: space-between;
}

.footer__info_item {
  margin-right: 20px;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.footer__info_item:last-child {
  margin-right: 0;
}

.footer__info_item a {
  display: flex;
  align-items: center;
}

.footer__info_item a:hover {
  color: red;
}

.footer__info_item-img {
  margin-right: 10px;
}

.footer__list {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.footer__list_link {
  font-size: 25px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.footer__list_link:last-child {
  margin-right: 0;
}

.footer-bottom__container {
  max-width: 1680px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.footer__list {
  max-width: 1680px;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer__list_link a:hover {
  color: #dc2a1c;
}

/* FOOTER */

/* SALE */

.sale {
  margin-top: 32px;
}

.sale__container {
  max-width: 1600px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(426px, 1fr));
  gap: 40px 0;
  text-align: center;
  margin: 0 auto;
}

.sale__item {
  max-width: 426px;
  margin: 0 auto;
}

.sale__item-title {
  font-size: 20px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10px;
}

.sale__item-subtitle {
  font-size: 15px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10px;
}

.sale__item-img {
  border-radius: 20px;
}

/* SALE */

/* КОНТАКТЫ */

.contacts-info {
  margin: 0 auto;
  max-width: 100%;
}

.contacts-info__container {
  display: flex;
  margin: 0 auto;
  margin-top: 23px;
  justify-content: space-between;
  padding: 0 100px;
}

.contacts-info-text {
  display: flex;
  flex-direction: column;
}

.contacts-info-text-address {
  margin: 0 auto;
  margin-top: 15px;
  font-size: 30px;
}

.contacts-info-text-address-text {
  margin: 0 auto;
  margin-top: 15px;
  font-size: 20px;
}

.contacts-info-text-phone {
  margin: 0 auto;
  margin-top: 15px;
  font-size: 30px;
}

.contacts-info-text-address-text {
  margin: 0 auto;
  margin-top: 15px;
  font-size: 20px;
}

.contacts-info-text-email {
  margin: 0 auto;
  margin-top: 15px;
  font-size: 30px;
}

.contacts-info-text-email-text {
  margin: 0 auto;
  margin-top: 15px;
  font-size: 20px;
}

.contacts-info-map {
  position: relative;
  overflow: hidden;
}

.contacts-info-map-link {
  color: #eee;
  font-size: 12px;
  position: absolute;
  top: 0;
}

/* КОНТАКТЫ */

/* ДОСТАВКА */

.delivery-info {
  margin: 0 auto;
  max-width: 100%;
  margin-top: 80px;
}

.delivery-info__container {
  display: flex;
  flex-direction: column;
  max-width: 813px;
}

.delivery-conditions {
  margin: 0 auto;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.delivery-conditions-text {
  margin: 0 auto;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.delivery-conditions-text p {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.pay-methods {
  margin: 0 auto;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.pay-methods-cash-text,
.pay-methods-card-text {
  margin: 0 auto;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.pay-methods-cash-text {
  margin-bottom: 20px;
}

.pay-methods-cash-text p {
  margin: 0 auto;
}

.pay-methods-card-text p {
  margin: 0 auto;
}

/* /ДОСТАВКА */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin: 50px 0 50px;
}

.enter {
  max-width: 600px;
  justify-content: space-between;
}

.inpt {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.inpt:last-child {
  margin-bottom: 0;
}

.data-input input {
  border-radius: 5px;
  padding: 4px;
  width: 300px;
}
