@media (max-width: 1722px) {
  .header__nav {
    max-width: 1300px;
  }
}

@media (max-width: 1553px) {
  .header__nav {
    max-width: 1300px;
  }

  .sidebar-item {
    font-size: 20px;
  }
}

@media (max-width: 1490px) {
  .header__nav_item {
    font-size: 20px;
    margin-right: 75px;
  }

  .header__nav_item:last-child {
    font-size: 20px;
    margin-right: 0px;
  }

  .header__nav_item-img {
    width: 35px;
    height: 35px;
  }

  .header-bottom__item:last-child {
    margin-right: 0;
  }

  .menu-info__categories_item {
    font-size: 18px;
    line-height: 22px;
  }

  .sale__item-img {
    width: 350px;
  }
}

@media (max-width: 1400px) {
  .sidebar-item {
    font-size: 18px;
  }
}

@media (max-width: 1295px) {
  .header-bottom__container {
    margin: 15 30px 0 30px;
  }
}

@media (max-width: 1260px) {
  .header__nav_item {
    margin-right: 40px;
  }

  .header__nav_item:last-child {
    margin-right: 0;
  }

  .header__logo_img-link {
    max-width: 120px;
  }

  .login a {
    font-size: 20px;
  }
  .menu__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1140px) {
  .contacts-info__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }

  .contacts-info-text {
    margin-bottom: 30px;
  }

  .contacts-info-map {
    max-width: 500px;
  }
  .footer__info_item,
  .footer__list_link {
    font-size: 20px;
  }
}

@media (max-width: 1140px) {
  .header__container {
    position: relative;
  }

  .header__logo {
    order: 2;
  }

  .header__burger {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 3;
  }

  .login-link__icon {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .menu-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
  }

  .menu__container {
    grid-template-columns: auto;
  }

  .menu-wrapper {
    width: 100%;
    max-width: none;
  }
  .slider--control-btn::after {
    font-size: 24px;
  }
  .mobile-menu.active {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 993px) {
  .header-bottom__item {
    margin-right: 40px;
  }

  .sale__container {
    display: flex;
    flex-direction: column;
  }

  .sale__item {
    max-width: 500px;
    margin-top: 30px;
  }

  .sale__item-img {
    width: 500px;
  }

  .sale__item-title {
    font-size: 30px;
  }

  .sale__item-subtitle {
    max-width: 500px;
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .header__logo_img-link {
    max-width: 80px;
  }
  .menu-info__categories_item {
    font-size: 16px;
    line-height: 20px;
  }

  .menu-info__categories_item_img {
    max-width: 40px;
  }
  .menu-wrapper {
    max-width: 450px;
  }
  .menu-title {
    font-size: 20px;
    line-height: 26px;
  }
  .menu__list {
    grid-template-columns: 1fr;
  }
  .footer {
    padding: 40px 0 15px;
  }
  .footer__list_link {
    flex-basis: 100%;
  }
  .footer__info_item,
  .footer__list_link {
    font-size: 16px;
  }
  .footer__info_item-img {
    max-width: 35px;
  }
}

@media (max-width: 550px) {
  .menu-info__categories_item {
    font-size: 12px;
    line-height: 18px;
  }
  .menu-info__categories_item_img {
    max-width: 30px;
    margin-right: 5px;
  }
  .header-bottom-cart {
    font-size: 14px;
  }
  .header-bottom_cart-img {
    max-width: 30px;
  }
  .slider--control-btn::after {
    font-size: 18px;
  }
}

@media (max-width: 408px) {
  .inpt {
    display: flex;
    flex-direction: column;
  }

  .input-text {
    margin-bottom: 10px;
  }

  .data-input input {
    width: 100%;
  }
}

@media (max-width: 370px) {
  .menu-info-cart {
    font-size: 12px;
    margin-left: 10px;
  }
  .menu-info_cart-img {
    max-width: 30px;
  }
  .contacts-info-text {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
  }

  .contacts-info-text-address {
    font-size: 25px;
  }

  .contacts-info-text-phone {
    font-size: 25px;
  }

  .contacts-info-text-email {
    font-size: 25px;
  }

  .contacts-info-map {
    max-width: 318px;
  }
}
