@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rubik:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
	color: #050038;
	min-height: 100vh;
}

a{
	color: #fff;
}

a:visited{
	color: black;
}

.wrapper{
	max-width: 1200px;
	margin: auto;
	min-height: 100vh;
}

/* НАЧАЛО HEADER */

.header{
	border-bottom: 1px solid #f0f0f0;
}

.header__reg a{
	color: #fff;
}

.header__content{
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px 20px 21px 20px;
}

.header__logo{
	margin-right: 24px;
}

.header__list{
	display: flex;
}

.change-lang-ico{
	margin-right: 88px;
}

.header__list-item{
	margin-right: 34px;
}

.header__left{
	display: flex;
	align-items: center;
}

.header__right{
	display: flex;
	align-items: center;
}

.header__reg{
	padding: 17px 26px 17px 27px;
	border-radius: 24px;
	background-color: #4262FF;
	color: #fff;
	line-height: 16px;
}

/* КОНЕЦ HEADER */



/* НАЧАЛО MAIN*/

.main__content{
	max-width: 1120px;
	margin: auto;
}

/* НАЧАЛО ПЕРВОЙ СЕКЦИИ */

.main__welcome{
	margin-top: 58px;
	display: flex;
}

.main__welcome-text-title{
	max-width: 285px;
	font-weight: 400;
	font-size: 48px;
	line-height: 56px;
}

.main__welcome-text-subtitle{
	max-width: 424px;
	margin-top: 19px;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}

.main__welcome-buttons{
	margin-top: 55px;
}

.main__welcome-input{
	max-width: 440px;
	height: 51px;
	border: 1px solid #9B99AF;
	border-radius: 32px;

}

.main__welcome-input-link{
	padding: 15px;
	height: 100%;
	width: 100%;
}

.main__welcome-free-start{
	margin-top: 20px;
	max-width: 440px;
	padding: 14px 145px 14px 130px;
	background-color: #4262FF;
	border-radius: 32px;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
}

.main__welcome-free-start a{
	color: #fff;
}

.main__welcome-subtext{
	margin-top: 8px;
	max-width: 342px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.main__welcome-icons{
	display: flex;
	align-items: center;
	max-width: 441px;
	justify-content: space-between;
}

.main__welcome-img{
	margin-left: 65px;
}

/* КОНЕЦ ПЕРВОЙ СЕКЦИИ */

/* НАЧАЛО ВТОРОЙ СЕКЦИИ */

.main__together{
	margin-top: 129px;
	display: flex;
	align-items: center;
}

.main__together-text-title{
	max-width: 454px;
	font-size: 48px;
	line-height: 56px;
	letter-spacing: 1px;
}

.main__together-text-subtitle{
	margin-top: 19px;
	max-width: 436px;
	font-size: 18px;
	line-height: 24px;
	color: rgba(5, 0, 56, 0.6);
}

.main__together-more{
	margin-top: 19px;
	line-height: 24px;
}

.main__together-more a{
	color: #4262FF;
	border-bottom: 1px solid #4262FF;
}

.main__together-img{
	margin-left: 134px;
}

/* КОНЕЦ ВТОРОЙ СЕКЦИИ */

/* НАЧАЛО ТРЕТЬЕЙ СЕКЦИИ */

.main__style{
	margin-top: 148px;
}

.main__style-title{
	font-size: 48px;
	line-height: 56px;
	letter-spacing: 1px;
	}

.main__style-text{
	margin-left: 16px;
}

.main__style-list{
	margin-top: 34px;
}

.main__style-list-ul{
	display: flex;
	flex-wrap: wrap;
}

.main__style-list-item-active{
	padding: 13px 18px;
	border: 1px solid #F2F2F2;
	border-radius: 24px;
	margin-right: 8px;
	background: #F1F3FD;
}

.main__style-list-item{
	padding: 13px 18px;
	border: 1px solid #F2F2F2;
	border-radius: 24px;
	margin-right: 8px;
}

.main__style-list-item:last-child{
	margin-right: 0;
}

.main__style-list-item:hover{
	background: #F1F3FD;
}

.main__style-info{
	display: flex;
}

.main__style-text-title{
	margin-top: 56px;
	line-height: 24px;
	font-size: 18px;
}

.main__style-text-text{
	max-width: 288px;
	margin-top: 25px;
	font-size: 18px;
	line-height: 24px;
}

.main__style-img{
	margin-top: 26px;
	margin-left: 56px;
}

.main__style-more{
	margin-top: 32px;
	font-size: 18px;
	line-height: 24px;
	color: #4262FF;
}

.main__style-more a{
	color: #4262FF;
}

/* КОНЕЦ ТРЕТЬЕЙ СЕКЦИИ */

/* НАЧАЛО ЧЕТВЕРТОЙ СЕКЦИИ */

.main__team{
	background-color: #FFD02F;
	margin: 0 auto;
	margin-top: 150px;
	padding: 120px 0;
}

.main__team-title{
	max-width: 525px;
	font-size: 48px;
	line-height: 56px;
	margin: 0 auto;
	letter-spacing: 1px;
	text-align: center;
}

.main__team-subtitle{
	margin-top: 18px;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
}

.main__team-subtitle a{
	border-bottom: 1px solid #050038;
}

.main__team-info{
	display: grid;
	grid-template-columns:repeat(auto-fill, minmax(350px, 1fr));
	margin-top: 135px;
	text-align: center;
}

.main__team-item-subtitle{
	max-width: 350px;
	margin: 0 auto;
	margin-top: 37px;
}

/* КОНЕЦ ЧЕТВЕРТОЙ СЕКЦИИ */

/* КОНЕЦ MAIN*/



/* НАЧАЛО FOOTER */

.footer{
	background-color: #050038;
}

.footer a{
	color: #fff;
}

.footer__container{
	max-width: 1100px;
	display: flex;
	margin: 0 auto;
}

.footer__list{
	margin-right: 70px;
}

.footer__list-title{
	margin-top: 40px;
	margin-bottom: 24px;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.footer__list-item{
	max-width: 202px;
	margin-bottom: 7px;
}

/* КОНЕЦ FOOTER */